@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;

%hipervinculo-base {
  border: none;
  border-radius: map.get(variables.$borde-redondeado, '4');
  box-sizing: border-box;
  font-family: var(--tipografia-familia, 'sans-serif');
  font-weight: 500;
  line-height: inherit;
  padding: 0;
  text-decoration: none;
  text-align: left;
  display: inline;
  vertical-align: baseline;
  cursor: pointer;
  
  @include mix.transicion;

  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'],
  [class^='pic-sisdai-'],
  [class*=' pic-sisdai-'],
  [class^='pic-delito-'],
  [class*=' pic-delito-'] {
    display: inline;
    vertical-align: sub;
    padding: 0;
  }
}

@mixin hipervinculo-estructura-color {
  background-color: transparent;
  box-shadow: 0 0 2px var(--hipervinculo-sombra);
  color: var(--hipervinculo-color);
  
  &:disabled {
    background-color: transparent;
    color: var(--hipervinculo-deshabilitado-color);
    box-shadow: 0 0 2px var(--hipervinculo-deshabilitado-sombra);
  }
  
  &:visited {
    color: var(--hipervinculo-visitado);
  }
  
  &:hover {
    background-color: transparent;
    color: var(--hipervinculo-cursor-color);
    text-decoration: underline;
    box-shadow: none;
  }
  
  &:focus-visible {
    background-color: transparent;
    color: var(--hipervinculo-enfoque-color);
    outline: 1px dashed var(--hipervinculo-enfoque-sombra);
    outline-offset: 4px;
    box-shadow: none;
  }
}

a,
.hipervinculo {
  @extend %hipervinculo-base;
  @include hipervinculo-estructura-color;
}

a[class^='m-'],
a[class^='p-'],
.hipervinculo[class^='m-'],
.hipervinculo[class^='p-'],
a[class*=' m-'],
a[class*=' p-'],
.hipervinculo[class*=' m-'],
.hipervinculo[class*=' p-'] {
  display: inline-block;
}
