@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;

@mixin boton-estructura-principal {
  // el borde debe ser box shadow para empatar con el alto de los elementos en diseño
  border: none; 
  border-radius: map.get(variables.$borde-redondeado, '4'); 
  box-sizing: border-box;
  font-family: var(--tipografia-familia, 'sans-serif');
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(1em * 1.25);
  padding: map.get(variables.$espaciado, '2') map.get(variables.$espaciado, '3');
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  @include mix.transicion;
    
  &.deshabilitado,
  &:disabled {
    pointer-events: none;
    cursor: default;
  }
  
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.boton {
  @include boton-estructura-principal;
}

button,
.boton {
  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'],
  [class^='pic-sisdai-'],
  [class*=' pic-sisdai-'],
  [class^='pic-delito-'],
  [class*=' pic-delito-'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    padding: 0 0 0 map.get(variables.$espaciado, '1');
  }
}