@use 'sass:map';
@use '../_variables' as variables;
@use '../boton/base' as botonbase;

.boton-pictograma {
  @include botonbase.boton-estructura-principal;

  padding: map.get(variables.$espaciado, 'minimo');

  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'],
  [class^='pic-sisdai-'],
  [class*=' pic-sisdai-'],
  [class^='pic-delito-'],
  [class*=' pic-delito-'] {
    font-size: 1.5rem;
    padding: 0;
  }

  &.boton-chico {
    padding: map.get(variables.$espaciado, 'minimo');

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      font-size: 1rem;
    }
  }
  
  &.boton-grande {
    padding: map.get(variables.$espaciado, '1');

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      font-size: 1.5rem;
    }
  }
}