@use 'sass:map';
@use '../_variables' as variables;

.lista-pictograma {
  li {
    padding: map.get(variables.$espaciado, '3') 0;
  }
  
  .lista-pictograma-imagen {
    display: flex;
    align-items: baseline;
    margin: 0 map.get(variables.$espaciado, '3');

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      padding: 0;
    }
  }
}
