@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;

.menu-flotante {
  position: fixed;
  z-index: 9999;
  bottom: 40px;

  .menu-flotante-boton {
    background-color: var(--menu-flotante-boton-fondo);
    color: var(--menu-flotante-boton-color);
    box-shadow: 
      inset 0 0 0 1px var(--menu-flotante-boton-borde),
      0 0 0 1px var(--menu-flotante-boton-contorno),
      0 0 8px var(--menu-flotante-boton-sombra);
    border-radius: 50%;
    margin: -20px;
    padding: map.get(variables.$espaciado, '1');
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    width: 40px;
    height: 40px;

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      background-color: var(--menu-flotante-boton-cursor-fondo);
      color: var(--menu-flotante-boton-cursor-color);
      box-shadow: 
        inset 0 0 0 1px var(--menu-flotante-boton-cursor-borde),
        0 0 0 1px var(--menu-flotante-boton-cursor-contorno),
        3px 3px 4px var(--menu-flotante-boton-cursor-sombra);
    }

    &:focus {
      background-color: var(--menu-flotante-boton-enfoque-fondo);
      color: var(--menu-flotante-boton-enfoque-color);
      box-shadow: 
        inset 0 0 0 1px var(--menu-flotante-boton-enfoque-borde),
        0 0 0 1px var(--menu-flotante-boton-enfoque-contorno),
        0 0 8px var(--menu-flotante-boton-enfoque-sombra);
    }
  }

  .menu-flotante-pictograma-cerrado {
    @include mix.transicion;
    
    position: absolute;
    opacity: 1;
  }
  
  .menu-flotante-pictograma-abierto {
    @include mix.transicion;
    
    position: absolute;
    opacity: 0;
  }

  .menu-flotante-contenedor {
    @include mix.transicion;

    background-color: var(--menu-flotante-contenedor-fondo);
    box-shadow: 0 0 0 0 transparent;
    color: var(--menu-flotante-contenedor-color);
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    position: relative;
    width: 300px;
    max-height: 0;
    opacity: 0;
    
    .menu-flotante-titulo {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25em;
      margin-top: 0;
      margin-bottom: map.get(variables.$espaciado, '1');
      padding-bottom: map.get(variables.$espaciado, '2');
      border-bottom: 1px solid var(--menu-flotante-contenedor-borde);
    }

    a,
    label,
    p:not(.menu-flotante-titulo) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 40px;
      width: 100%;

      &::before,
      &::after {
        top: auto;
      }
    }
    
    label {
      .pictograma,
      [class^='pictograma-'],
      [class*=' pictograma-'] {
        font-size: 1.5rem;
        padding: 0;
        margin-right: map.get(variables.$espaciado, 'minimo');
      }
    }
  }
  
  &.menu-flotante-derecho {
    @include mix.transicion;
    
    right: -260px;
  }

  &.menu-flotante-derecho.abierto {
    right: 40px;
  }

  &.menu-flotante-izquierdo {
    left: 40px;
  }

  &.abierto {
    .menu-flotante-pictograma-cerrado {
      opacity: 0;
    }
    
    .menu-flotante-pictograma-abierto {
      opacity: 1;
    }

    .menu-flotante-contenedor {
      box-shadow: 
        inset 0 0 0 .1px var(--menu-flotante-contenedor-sombra),
        0 8px 16px -4px var(--menu-flotante-contenedor-sombra);
      max-height: 500px;
      padding: map.get(variables.$espaciado, '3');
      opacity: 1; 
    }
  }
}