@use 'sass:map';
@use '../_variables' as variables;

.controlador-vis {
  --controlador-vis-control-alto: 1.125rem;
  --controlador-vis-figura-alto: 18px;
  --controlador-vis-figura-borde-grosor: 1px;
  --controlador-vis-figura-borde-color: var(--borde-neutro);
  --controlador-vis-figura-fondo: var(--texto-acento);
  
  min-height: var(--controlador-vis-control-alto);
  vertical-align: text-top;

  .lectura {
    padding: calc(map.get(variables.$espaciado, '1') + 2px);
    margin: 0 0 map.get(variables.$espaciado, '1') 0;
    line-height: 1.25em;
    color: var(--campo-color);
    vertical-align: text-top;
    display: inline-flex;
  }

  .anidado {
    padding-left: calc(1.25rem + map.get(variables.$espaciado, '1') + 4px);
  }

  label::before,
  label::after {
    margin-top: max(calc((var(--controlador-vis-figura-alto) - var(--controlador-vis-control-alto)) * 0.5), 0px);
  }

  .nombre-variable,
  .figura-variable {
    display: inline-flex;
  }

  .nombre-variable {
    flex: 1 1;
    margin-top: max(calc((var(--controlador-vis-figura-alto) - var(--controlador-vis-control-alto)) * 0.5), 0px);
  }
  
  .figura-variable {
    flex-shrink: 0;
    margin-right: map.get(variables.$espaciado, 'minimo');
    margin-top: max(calc((var(--controlador-vis-control-alto) - var(--controlador-vis-figura-alto)) * 0.5), 0px);
    min-width: calc(var(--controlador-vis-figura-alto));
    height: calc(var(--controlador-vis-figura-alto));

    &.muestra {
      background-color: var(--controlador-vis-figura-fondo);
      border: var(--controlador-vis-figura-borde-grosor) solid var(--controlador-vis-figura-borde-color);
      border-radius: 50%;
    }
    
    &.pictograma,
    &[class^='pictograma-'],
    &[class*=' pictograma-'],
    &[class^='pic-sisdai-'],
    &[class*=' pic-sisdai-'],
    &[class^='pic-delito-'],
    &[class*=' pic-delito-'] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: calc(var(--controlador-vis-figura-alto));
      line-height: 1;
      padding: 0;
    }
  }
  
  [type="checkbox"]:disabled + label .figura-variable.muestra,
  [type="radio"]:disabled + label .figura-variable.muestra,
  [type="checkbox"]:checked:disabled + label .figura-variable.muestra,
  [type="radio"]:checked:disabled + label .figura-variable.muestra {
    background-color: var(--campo-deshabilitado-fondo);
    border-color: var(--campo-deshabilitado-color);
  }
}

span.controlador-vis {
  display: inline-flex;
  margin-right: map.get(variables.$espaciado, '1');
  margin-bottom: map.get(variables.$espaciado, '1');
  
  label {
    display: inline-flex;
  }
}

div.controlador-vis {
  label {
    display: flex;
  }
}
