@use 'sass:map';
@use '../_variables' as variables;
@use '../lista/base' as listas;

.colapsable {
  position: relative;

  .colapsable-boton {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-weight: 500;
    padding-top: map.get(variables.$espaciado, '1');
    padding-bottom: map.get(variables.$espaciado, '1');
    width: 100%;

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      padding: 0;
      font-size: 1.25rem;

      &::before {
        transition: transform 0.27s ease;
        transform: translateX(0) rotate(90deg);
        transform-origin: 50% 50%;
      }
    }
  }

  .colapsable-contenedor {
    cursor: default;
    pointer-events: none;
    position: relative;
    opacity: 0;
    height: 0;
    transition: opacity 0.27s ease;

    > ul, 
    > ol {
      @include listas.lista-estructura-plana;

      > li {
        > a {
          display: block;
          padding-top: map.get(variables.$espaciado, '1');
          padding-bottom: map.get(variables.$espaciado, '1');
        }
      }
    }
  }
  
  &.abierto > {
    .colapsable-boton {
      .pictograma,
      [class^='pictograma-'],
      [class*=' pictograma-'] {
        &::before {
          transform: translateX(-1px) rotate(270deg);
        }
      }
    }

    .colapsable-contenedor {
      cursor: inherit;
      pointer-events: inherit;
      opacity: 1;
      height: auto;
    }
  }
}
