@use 'sass:map';
@use '../_variables' as variables;
@use '../boton/base' as botonbase;

.globo-informacion {   
  background-color: var(--globo-fondo);
  border-radius: map.get(variables.$borde-redondeado, '8');
  color: var(--globo-color);
  align-items: flex-start;
  justify-content: space-between;
  display: inline-flex;
  position: relative;
  width: auto;
  z-index: 99;

  .globo-informacion-cuerpo {
    padding: map.get(variables.$espaciado, '2');

    > *:not(div) {
      margin-top: map.get(variables.$espaciado, '2');
      margin-bottom: map.get(variables.$espaciado, '2');
      
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      box-shadow: 0 0 2px var(--globo-hipervinculo-sombra);
      color: var(--globo-hipervinculo-color);
      
      &:visited {
        color: var(--globo-hipervinculo-visitado);
      }
      
      &:hover {
        box-shadow: 0 0 2px var(--globo-hipervinculo-cursor-sombra);
        color: var(--globo-hipervinculo-cursor-color);
      }
      
      &:focus-visible {
        color: var(--globo-hipervinculo-enfoque-color);
        outline: 2px dashed var(--globo-hipervinculo-enfoque-sombra);
      }
    }
  }

  .globo-informacion-punto-color {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 1px solid var(--globo-simbologia-borde);
    background-color: var(--texto-acento);
    display: inline-block;
  } 

  &:not(.globo-informacion-extendido) {
    font-size: 0.75rem;
  }

  &.globo-informacion-extendido {
    font-size: inherit;
  }
  
  .globo-informacion-cerrar {
    @include botonbase.boton-estructura-principal;

    padding: map.get(variables.$espaciado, 'minimo');
    position: sticky;
    top: 0;
    margin: map.get(variables.$espaciado, '1') map.get(variables.$espaciado, '1') map.get(variables.$espaciado, '1') 0;
    background: var(--globo-boton-fondo);
    box-shadow: 
      inset 0 0 0 0 var(--globo-boton-borde),
      0 0 0 var(--globo-boton-sombra);
    color: var(--globo-boton-color);

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'],
    [class^='pic-sisdai-'],
    [class*=' pic-sisdai-'],
    [class^='pic-delito-'],
    [class*=' pic-delito-'] {
      justify-content: center;
      font-size: 1.5rem;
      padding: 0;
    }
   
    &:hover {
      background: var(--globo-boton-cursor-fondo);
      box-shadow: 
        inset 0 0 0 0 var(--globo-boton-cursor-borde),
        0 0 0 var(--globo-boton-cursor-sombra);
      color: var(--globo-boton-cursor-color);
    }
    
    &:focus {
      background: var(--globo-boton-enfoque-fondo);
      box-shadow: 
        inset 0 0 0 1px var(--globo-boton-enfoque-borde),
        0 0 8px var(--globo-boton-enfoque-sombra);
      color: var(--globo-boton-enfoque-color);
    }
  }
}
